.idea/*

cmd/core/config/network-heroku.yaml
cmd/core/config/network-prod.yaml
cmd/core/config/network-vpn.yaml
# Binaries for programs and plugins
*.exe
*.log
*.exe~

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# db
*.mmdb