{{define "main_header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" href="static/styles/font-awesome.min.css">
</head>
<body>
<div class="mainall">
    <section class="sign-in">
        <div class="containermain">
            <div class="main-content">
                <div class="sidebar">
                    <a href="/"><i class="fa fa-home fa-fw"></i> News Feed</a>
                    <a href="/myprofile"><i class="fa fa-fw fa-user-circle-o"></i> My Profile</a>
                    <a href="/postnews"><i class="fa fa-fw fa-newspaper-o"></i> My News</a>
                    <a href="/friends"><i class="fa fa-fw fa-users"></i> Friends</a>
                    <a href="/search"><i class="fa fa-fw fa-search"></i> Search</a>
                    <a href="/messages"><i class="fa fa-fw fa-envelope"></i> Messages</a>
                    <br>
                    <br>
                    <a href="/logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
                </div>
                <div>
{{end}}
{{define "main_footer"}}
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{{end}}